<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="playwright tests"  parallel="tests">
    <test name="launch browser 1">
        <classes>
            <class name="testNGTests.TestOne">
                <parameter name="browser" value="chrome"/>
                <methods>
                    <include name="launchChrome"/>
                </methods>
            </class>
        </classes>
    </test>
    <test name="launch browser 2">
        <classes>
            <class name="testNGTests.TestOne">
                <parameter name="browser" value="edge"/>
                <methods>
                    <include name="launchChrome"/>
                </methods>
            </class>
        </classes>
    </test>
    <test name="launch browser 3">
        <classes>
            <class name="testNGTests.TestOne">
                <parameter name="browser" value="firefox"/>
                <methods>
                    <include name="launchChrome"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>